<h6>Analytics</h6>
<div class="box float"><ul><li><a href="/cheatsheet/a163a1c0c6998e6b5c00.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>Animation</h6>
<div class="box float"><ul><li><a href="/cheatsheet/68f4eb3676e07aaff74f.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>Audio</h6>
<div class="box float"><ul><li><a href="/cheatsheet/2f39b849a012a013da8e.html">Basic usage</a></li>
<li><a href="/cheatsheet/a5a0f6b34b69de288500.html">Music</a></li>
<li><a href="/cheatsheet/69b0fd35f93529bba220.html">Pause</a></li>
<li><a href="/cheatsheet/bda6b3ddb7f287dc57f7.html">Volume</a></li>
</ul><div class="clear"></div></div>
<h6>BitmapText</h6>
<div class="box float"><ul><li><a href="/cheatsheet/d22835cd9cf057e57536.html">Basic usage</a></li>
<li><a href="/cheatsheet/7a89d92ed43da375779f.html">Change text</a></li>
</ul><div class="clear"></div></div>
<h6>Camera</h6>
<div class="box float"><ul><li><a href="/cheatsheet/8aea4c7975d00967366e.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>Config</h6>
<div class="box float"><ul><li><a href="/cheatsheet/9719307.html">Custom debug</a></li>
<li><a href="/cheatsheet/9719999.html">Device-specific</a></li>
<li><a href="/cheatsheet/9e4b6dd58091febd3d31.html">Enable WebGL</a></li>
<li><a href="/cheatsheet/1aa41203b94eb5743b83.html">Game size</a></li>
<li><a href="/cheatsheet/0e373d4d92c309ba4805.html">HiRes mode</a></li>
<li><a href="/cheatsheet/9720482.html">Module attributes</a></li>
<li><a href="/cheatsheet/9720487.html">Sitelock</a></li>
</ul><div class="clear"></div></div>
<h6>Core</h6>
<div class="box float"><ul><li><a href="/cheatsheet/9736124.html">Create class</a></li>
<li><a href="/cheatsheet/9736089.html">Create module</a></li>
<li><a href="/cheatsheet/ee8bc46b5a5232996188.html">Create scene</a></li>
<li><a href="/cheatsheet/9736166.html">Extend class</a></li>
<li><a href="/cheatsheet/9736211.html">Inject class</a></li>
<li><a href="/cheatsheet/9736104.html">Require module</a></li>
</ul><div class="clear"></div></div>
<h6>Keyboard</h6>
<div class="box float"><ul><li><a href="/cheatsheet/ae1217de4a7755ad2072.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>Loader</h6>
<div class="box float"><ul><li><a href="/cheatsheet/bf75107eaaff80876e28.html">Basic usage</a></li>
<li><a href="/cheatsheet/9930671.html">Custom loader</a></li>
<li><a href="/cheatsheet/9adc8186791129fc59c4.html">Dynamic mode</a></li>
</ul><div class="clear"></div></div>
<h6>Particle</h6>
<div class="box float"><ul><li><a href="/cheatsheet/9756110.html">Basic usage</a></li>
<li><a href="/cheatsheet/9756252.html">Alpha</a></li>
<li><a href="/cheatsheet/9756161.html">Angle</a></li>
<li><a href="/cheatsheet/092a83c41cfaa5ca4851.html">Bitmap text</a></li>
<li><a href="/cheatsheet/9756187.html">Emitter duration</a></li>
<li><a href="/cheatsheet/9756184.html">Life</a></li>
<li><a href="/cheatsheet/9756150.html">Position variance</a></li>
<li><a href="/cheatsheet/9756200.html">Rate and count</a></li>
<li><a href="/cheatsheet/9756250.html">Rotation speed</a></li>
<li><a href="/cheatsheet/9756256.html">Scale</a></li>
<li><a href="/cheatsheet/9756171.html">Speed</a></li>
<li><a href="/cheatsheet/9756264.html">Target</a></li>
<li><a href="/cheatsheet/9756235.html">Velocity rotate</a></li>
</ul><div class="clear"></div></div>
<h6>Physics</h6>
<div class="box float"><ul><li><a href="/cheatsheet/c89d30c4d40af1dec293.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>Pool</h6>
<div class="box float"><ul><li><a href="/cheatsheet/7d0e61f278c0038b6ebb.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>Spine</h6>
<div class="box float"><ul><li><a href="/cheatsheet/abe10c596be2aeb660e7.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>Sprite</h6>
<div class="box float"><ul><li><a href="/cheatsheet/9720026.html">Basic usage</a></li>
<li><a href="/cheatsheet/9720059.html">Alpha</a></li>
<li><a href="/cheatsheet/9720040.html">Anchor</a></li>
<li><a href="/cheatsheet/9720090.html">Children</a></li>
<li><a href="/cheatsheet/9720035.html">Position</a></li>
<li><a href="/cheatsheet/9720045.html">Rotation</a></li>
<li><a href="/cheatsheet/9720034.html">Scale</a></li>
<li><a href="/cheatsheet/9804399.html">Shorthand</a></li>
<li><a href="/cheatsheet/9720078.html">Texture change</a></li>
<li><a href="/cheatsheet/9720068.html">Visibility</a></li>
</ul><div class="clear"></div></div>
<h6>SpriteSheet</h6>
<div class="box float"><ul><li><a href="/cheatsheet/f57eb1025fbcb37b0c87.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>Storage</h6>
<div class="box float"><ul><li><a href="/cheatsheet/9705601.html">Basic usage</a></li>
</ul><div class="clear"></div></div>
<h6>System</h6>
<div class="box float"><ul><li><a href="/cheatsheet/620bd114ca91affbd42b.html">Accelerometer</a></li>
<li><a href="/cheatsheet/4371d3d25a5e1eb8467e.html">Change scene</a></li>
<li><a href="/cheatsheet/10632181.html">Delta time</a></li>
</ul><div class="clear"></div></div>
<h6>TilingSprite</h6>
<div class="box float"><ul><li><a href="/cheatsheet/ce4fa8a5300ddd57a7fc.html">Basic usage</a></li>
<li><a href="/cheatsheet/075acc114a606be2da6a.html">Speed</a></li>
</ul><div class="clear"></div></div>
<h6>Tween</h6>
<div class="box float"><ul><li><a href="/cheatsheet/9735545.html">Basic usage</a></li>
<li><a href="/cheatsheet/9735602.html">Chain</a></li>
<li><a href="/cheatsheet/9735576.html">Delay</a></li>
<li><a href="/cheatsheet/9735552.html">Easing</a></li>
<li><a href="/cheatsheet/9735620.html">Grouping</a></li>
<li><a href="/cheatsheet/9735564.html">Repeat</a></li>
<li><a href="/cheatsheet/9735570.html">Reverse repeat</a></li>
</ul><div class="clear"></div></div>
