<div id="footer">
    &copy; 2014 Panda.js<span></span>
    <a href="{{ site.baseurl }}">Home</a><span></span>
    <a href="{{ site.baseurl }}download/">Download</a><span></span>
    <a href="{{ site.baseurl }}features/">Features</a><span></span>
    <a href="{{ site.baseurl }}showcase/">Showcase</a><span></span>
    <a href="{{ site.baseurl }}screencasts/">Screencasts</a><span></span>
    <a href="{{ site.baseurl }}examples/">Examples</a><span></span>
    <a href="{{ site.baseurl }}docs/">Documentation</a><span></span>
    <a href="{{ site.baseurl }}contact.html">Contact</a>
</div>