<div id="footer">
    &copy; 2015 Panda.js<span></span>
    <a href="{{ site.baseurl }}download/">Download</a><span></span>
    <a href="{{ site.baseurl }}features/">Features</a><span></span>
    <a href="{{ site.baseurl }}showcase/">Showcase</a><span></span>
    <a href="{{ site.baseurl }}cheatsheet/">Cheatsheet</a><span></span>
    <a href="http://www.html5gamedevs.com/forum/19-pandajs/" target="_blank">Forum</a><span></span>
    <a href="{{ site.baseurl }}docs/">Documentation</a><span></span>
    <a href="{{ site.baseurl }}contact.html">Contact</a>
</div>