<div id="header">
    <div class="wrapper">
        <div id="nav">
            <a href="{{ site.baseurl }}bamboo/" {% if current[2] == 'index.html' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/cursor.png"><span>Home</span></a>
            <a href="{{ site.baseurl }}bamboo/download.html" {% if current[2] == 'download.html' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/download.png"><span>Download</span></a>
            <a href="{{ site.baseurl }}bamboo/docs/" {% if current[2] == 'docs' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/document.png"><span>Documentation</span></a>
        </div>
    </div>
</div>