<div id="header">
    <div class="wrapper">
        <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}img/panda.png" class="left"></a>
        <!-- <img src="{{ site.baseurl }}logo2.png" class="center"> -->

        <div id="nav">
            <a href="{{ site.baseurl }}download/"><img src="{{ site.baseurl }}img/download.png">Download</a>
            <a href="{{ site.baseurl }}features/"><img src="{{ site.baseurl }}img/flame.png">Features</a>
            <a href="{{ site.baseurl }}games/"><img src="{{ site.baseurl }}img/gamecontroller.png">Games</a>
            <a href="{{ site.baseurl }}tutorials/"><img src="{{ site.baseurl }}img/clipboard.png">Tutorials</a>
            <a href="{{ site.baseurl }}docs/"><img src="{{ site.baseurl }}img/document.png">Documentation</a>
        </div>
    </div>
</div>