<div id="header">
    <div class="wrapper">
        <div id="nav">
            <a href="{{ site.baseurl }}download/" {% if current[1] == 'download' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/download.png"><span>Download</span></a>
            <a href="{{ site.baseurl }}features/" {% if current[1] == 'features' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/flame.png"><span>Features</span></a>
            <a href="{{ site.baseurl }}showcase/" {% if current[1] == 'showcase' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/gamecontroller.png"><span>Showcase</span></a>
            <!-- <a href="{{ site.baseurl }}screencasts/" {% if current[1] == 'screencasts' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/video.png"><span>Screencasts</span></a> -->
            <a href="{{ site.baseurl }}cheatsheet/" {% if current[1] == 'cheatsheet' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/clipboard.png"><span>Cheatsheet</span></a>
            <a href="http://www.html5gamedevs.com/forum/19-pandajs/" target="_blank"><img src="{{ site.baseurl }}img/icons/32/chat.png"><span>Forum</span></a>
            <a href="{{ site.baseurl }}docs/" {% if current[1] == 'docs' %}class='current'{% endif %}><img src="{{ site.baseurl }}img/icons/32/document.png"><span>Documentation</span></a>
        </div>
    </div>
</div>