<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="{{ page.author }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="apple-mobile-web-app-title" content="Panda.js">

    <meta property="og:url" content="http://www.pandajs.net{{ page.url }}">
    <meta property="og:image" content="http://www.pandajs.net/img/logo2_400x400.png">
    <meta property="og:title" content="Panda.js - {{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">

    <title>Panda.js - {{ page.title }}</title>
    <link rel="shortcut icon" href="{{ site.baseurl }}favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/style.css">

    <script type="text/javascript">
        // Retina icons support
        window.onload = function() {
            if(window.devicePixelRatio === 2) {
                var images = document.getElementsByTagName('img');
                for (var i = 0; i < images.length; i++) {
                    if(images[i].src.indexOf('icons') !== -1 && images[i].src.indexOf('32') !== -1) {
                        images[i].src = images[i].src.replace('32', '64');
                    }
                }
            }
        };
    </script>
</head>
{% assign current = page.url | downcase | split: '/' %}