<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="Eemeli Kelokorpi">
    <title>Panda.js - {{ page.title }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/SyntaxHighlighter.css">
    <script language="javascript" src="{{ site.baseurl }}js/shCore.js"></script>
    <script language="javascript" src="{{ site.baseurl }}js/shBrushJScript.js"></script>
    <script language="javascript">
        window.onload = function() {
            dp.SyntaxHighlighter.HighlightAll('code');      
        }
    </script>
</head>