<h6>Sprite</h6>
<p class="box">
<a href="/snippets/9804399.html" class="box">Shorthand</a>
<a href="/snippets/9720090.html" class="box">Add children</a>
<a href="/snippets/9720078.html" class="box">Change texture</a>
<a href="/snippets/9720068.html" class="box">Set visibility</a>
<a href="/snippets/9720059.html" class="box">Set alpha</a>
<a href="/snippets/9720045.html" class="box">Set rotation</a>
<a href="/snippets/9720040.html" class="box">Set anchor</a>
<a href="/snippets/9720035.html" class="box">Set position</a>
<a href="/snippets/9720034.html" class="box">Set scale</a>
<a href="/snippets/9720026.html" class="box">Load texture</a>
</p>
<h6>Tween</h6>
<p class="box">
<a href="/snippets/9735620.html" class="box">Grouping</a>
<a href="/snippets/9735602.html" class="box">Chain</a>
<a href="/snippets/9735576.html" class="box">Delay</a>
<a href="/snippets/9735570.html" class="box">Reverse repeat</a>
<a href="/snippets/9735564.html" class="box">Repeat</a>
<a href="/snippets/9735552.html" class="box">Easing</a>
<a href="/snippets/9735545.html" class="box">Basic tween</a>
</p>
<h6>Particle</h6>
<p class="box">
<a href="/snippets/9756264.html" class="box">Target</a>
<a href="/snippets/9756256.html" class="box">Scale</a>
<a href="/snippets/9756252.html" class="box">Alpha</a>
<a href="/snippets/9756250.html" class="box">Rotation</a>
<a href="/snippets/9756235.html" class="box">Velocity rotate</a>
<a href="/snippets/9756200.html" class="box">Rate and count</a>
<a href="/snippets/9756187.html" class="box">Emitter duration</a>
<a href="/snippets/9756184.html" class="box">Life</a>
<a href="/snippets/9756171.html" class="box">Speed</a>
<a href="/snippets/9756161.html" class="box">Angle</a>
<a href="/snippets/9756150.html" class="box">Position variance</a>
<a href="/snippets/9756110.html" class="box">Basic particles</a>
</p>
<h6>Config</h6>
<p class="box">
<a href="/snippets/9720487.html" class="box">Sitelock</a>
<a href="/snippets/9720482.html" class="box">Module attributes</a>
<a href="/snippets/9719999.html" class="box">Device-specific</a>
<a href="/snippets/9719307.html" class="box">Custom debug</a>
</p>
<h6>Core</h6>
<p class="box">
<a href="/snippets/9736211.html" class="box">Inject class</a>
<a href="/snippets/9736166.html" class="box">Extend class</a>
<a href="/snippets/9736124.html" class="box">Create class</a>
<a href="/snippets/9736104.html" class="box">Require module</a>
<a href="/snippets/9736089.html" class="box">Create module</a>
</p>
<h6>Other</h6>
<p class="box">
<a href="/snippets/9719395.html" class="box">Phaser vs. Panda</a>
<a href="/snippets/9707681.html" class="box">Fixed width and height</a>
<a href="/snippets/9705601.html" class="box">Local storage</a>
<a href="/snippets/9705502.html" class="box">Simple particles</a>
</p>