<div class="index-section classes">
    <h3>Classes</h3>
    <div class="box">
    <ul id="api-classes" class="apis classes">
    {{#classes}}
        <li><a class="type" href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
    {{/classes}}
    </ul>
    </div>
</div>

<div class="clear"></div>