---
layout: default
title: Tutorials
---
<h3>Screencasts</h3>
<div class="box">
    {% include screencasts.html %}
</div>

<h3>Code snippets</h3>
<p>
    {% include snippets.html %}
</p>

<h3>Source codes</h3>
<div class="box">
    <ul>
        <li><a href="https://github.com/ekelokorpi/flyingdog" target="_blank">Flying Dog</a></li>
        <li><a href="https://github.com/ekelokorpi/whackathing" target="_blank">Whack a Thing</a></li>
        <li><a href="https://github.com/ekelokorpi/panda.js-demos" target="_blank">Panda.js demos</a></li>
    </ul>
</div>