---
description: Free open source HTML5 game engine for mobile and desktop with Canvas and WebGL rendering.
author: Eemeli Kelokorpi
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <div id="bg">
    <div id="wrapper">
        {% if page.title %}<h1>{% if page.pretitle %}{{ page.pretitle }} {% endif %}{{ page.title }}</h1>{% endif %}
        {% if page.header %}<h3>{{ page.header }}</h3>{% endif %}
        {{ content }}
    </div>
    </div>
    {% include footer.html %}
    {% include analytics.html %}
</body>
</html>